body{
    background-color: white;
}


#main_card{
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.levelup{
    width: 450px; 
    margin-bottom: 5px;
    background-color: rgb(99, 194, 99);
    border-radius: 5px;

}

.levelup:hover{
    transform: translateY(-2px); 
       transition: all 0.3s ease;

}

.btn-dark:hover{
    transform: translateY(-2px); 
       transition: all 0.3s ease;
}

.btn-primary:hover{
    transform: translateY(-2px); 
       transition: all 0.3s ease;
}