body{
    background-color: white;
}


#main_card{
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

#buttons{
    text-align: center;
}



.levelup:hover{
    transform: translateY(-2px); 
       transition: all 0.3s ease;

}

.btn-dark:hover{
    transform: translateY(-2px); 
       transition: all 0.3s ease;
}

.btn-primary:hover{
    transform: translateY(-2px); 
       transition: all 0.3s ease;
}