body{
    background-color: gray;
}


#main_card{
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.btn-dark:hover{
    transform: translateY(-2px); 
       transition: all 0.3s ease;
}

.btn-primary:hover{
    transform: translateY(-2px); 
       transition: all 0.3s ease;
}